.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-white {
    filter: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(11%) hue-rotate(78deg) brightness(104%) contrast(104%);
}

.filter-green {
    filter: brightness(0) saturate(100%) invert(63%) sepia(56%) saturate(432%) hue-rotate(100deg) brightness(86%) contrast(94%);
}
.filter-yellow {
    filter: brightness(0) saturate(100%) invert(82%) sepia(46%) saturate(799%) hue-rotate(331deg) brightness(103%) contrast(98%);
}
.filter-gray {
    filter: brightness(0) saturate(100%) invert(82%) sepia(1%) saturate(2%) hue-rotate(42deg) brightness(99%) contrast(97%);
}

.show-categories {
    display: flex;
    transition: 0.3s ease-in;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.3s ease-in;
}

.show-menu {
    transform: translateX(0);
    transition: transform .8s ease-in-out;
}

.shadow {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(110, 108, 108, 0.8);
    transition: transform .1s ease-in-out;
    position: absolute;
}